ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type:none;
}

ul li.border {
    border-style:solid;
    border-width:thin;
    border-color: #d3d3d3;
    margin: 5px;
    padding: 5px;
}

button.borderless {
    padding:0;
    border: none;
    background: none;
}
