<div class="panning">
    <h1 align="center">{{title}}</h1>

    <ul>
      <li class="item-borderless" *ngFor="#date of dates">
        <h4 align="center">{{toLocaleDateString(date)}}</h4>

        <ul>
          <li *ngFor="#lecture of getLecturesByDate(date)" (click)="gotoDetail(lecture)">
            <!--<button class="icon {{lecture.scheduled ? 'ion-minus-circled' : 'ion-plus-circled'}}" style="color:red"
                        ng-click="setLectureSchedule(lecture, !lecture.scheduled); $event.stopPropagation();">
            </button>-->

            <p>{{lecture.startTime.toLocaleTimeString()}}</p>

            <h2>{{lecture.title}}</h2>
            <p>{{getLectorName(lecture.lectorId)}}</p>

            <p align="right" style="color:bisque">{{getDifficulty(lecture.difficulty)}}</p>
          </li>
        </ul>

      </li>
    </ul>
</div>
