<div class="padding">
    <div style="background-color:bisque">
        <center style="color:white">{{getDifficulty()}}</center>
        <h3 align="center" style="color:white">{{lecture.title}}</h3>
    </div>

    <div class="padding">
        <div align="center">
            <button (click)="gotoSpeaker()">
                <h4>{{getLectorName()}}</h4>
            </button>
        </div>

        <p align="center">{{toLocaleDateString(lecture.startTime)}} {{lecture.startTime.toLocaleTimeString()}} - {{lecture.endTime.toLocaleTimeString()}}</p>
    </div>

    <div align="center">
        <button style="color:red" (click)="setSchedule(!lecture.scheduled)">
            <img width="16" src="{{lecture.scheduled ? './source/img/icons/minus-48.png' : './source/img/icons/plus-48.png'}}"/>
            {{lecture.scheduled ? 'Remove from' : 'Add to'}} schedule
        </button>
    </div>

    <div class="padding" align="center">
        <p align="center" style="color:gray">Rate the lecture</p>
        <button type="submit" (click)="setRating(1)">
            <img src="{{lecture.rating > 0 ? './source/img/icons/star-filled-64.png' : './source/img/icons/star-64.png'}}" width="20">
        </button>
        <button type="submit" (click)="setRating(2)">
            <img src="{{lecture.rating > 1 ? './source/img/icons/star-filled-64.png' : './source/img/icons/star-64.png'}}" width="20">
        </button>
        <button type="submit" (click)="setRating(3)">
            <img src="{{lecture.rating > 2 ? './source/img/icons/star-filled-64.png' : './source/img/icons/star-64.png'}}" width="20">
        </button>
        <button type="submit" (click)="setRating(4)">
            <img src="{{lecture.rating > 3 ? './source/img/icons/star-filled-64.png' : './source/img/icons/star-64.png'}}" width="20">
        </button>
        <button type="submit" (click)="setRating(5)">
            <img src="{{lecture.rating > 4 ? './source/img/icons/star-filled-64.png' : './source/img/icons/star-64.png'}}" width="20">
        </button>
    </div>

    <div class="padding">
        <p align="justify">{{lecture.description}}</p>
    </div>
</div>
