<div class="panning">

    <h1 align="center">{{title}}</h1>

    <ul>
      <li class="item-borderless" *ngFor="#date of dates">
        <h4 align="center">{{toLocaleDateString(date)}}</h4>

        <ul>
          <li *ngFor="#lecture of getLecturesByDate(date)" (click)="gotoDetail(lecture)" class="border">
              <table style="width:100%">
                  <tr>
                      <td>
                          <div style="width:5px; height:100px; background-color:{{getDifficultyColor(lecture.difficulty)}}"></div>
                      </td>

                      <td>
                          <button class="borderless" (click)="setSchedule(lecture, !lecture.scheduled); $event.stopPropagation();">
                              <img width="24" src="{{lecture.scheduled ? './source/img/icons/minus-48.png' : './source/img/icons/plus-48.png'}}" />
                          </button>
                      </td>

                      <td>
                          <p>{{lecture.startTime.toLocaleTimeString()}}</p>

                          <h2>{{lecture.title}}</h2>
                          <p>{{getLectorName(lecture.lectorId)}}</p>

                          <p align="right" style="color:{{getDifficultyColor(lecture.difficulty)}}">{{getDifficulty(lecture.difficulty)}}</p>
                      </td>
                  </tr>
              </table>
          </li>
        </ul>

      </li>
    </ul>
</div>
