<ion-view view-title="Login">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" ng-model="user.username" placeholder="Enter your username">
            </label>

            <label class="item item-input">
                <input type="text" ng-model="user.password" placeholder="Enter your password">
            </label>
        </div>

        <button class="button button-block button-calm" ng-click="login()">Login</button>
    </ion-content>
</ion-view>