<div class="padding">

    <h1>Login with:</h1>

    <div>
        <div>
            <button (click)="loginOffice365()"><img width="16" src="./source/img/icons/office-365.png"> Office 365</button>
        </div>
        <div>
            <button (click)="loginGoogle()"><img width="16" src="./source/img/icons/google-plus-icon.png"> Google</button>
        </div>
		<div>
			<button (click)="loginFacebook()"><img width="16" src="./source/img/icons/facebook-icon.png"> Facebook</button>
		</div>
		<div>
			<button (click)="loginTwitter()"><img width="16" src="./source/img/icons/twitter-icon.png"> Twitter</button>
		</div>
    </div>
</div>
