<div class="padding">

    <div class="item-image" align="center">
        <img src="{{speaker.photo}}" style="max-width: 100%; max-height: 100%">
    </div>

    <div class="padding">
        <h2 align="center">{{speaker.name}}</h2>
        <p align="center">{{speaker.jobTitle}} at {{speaker.company}}</p>
    </div>

    <div class="padding" align="center">
        <button><img width="20" src="./source/img/icons/facebook-icon.png"/></button>
        <button><img width="20" src="./source/img/icons/twitter-icon.png" /></button>
        <button><img width="20" src="./source/img/icons/google-plus-icon.png" /></button>
    </div>

    <div class="padding">
        <center><h3>Lectures</h3></center>

        <ul>
            <li *ngFor="#lecture of lectures">
                <p>{{lecture.startTime.toLocaleDateString()}} {{lecture.startTime.toLocaleTimeString()}}</p>
                <nav>
                    <a [routerLink]="['LectureDetail', {id: lecture.id}]">{{lecture.title}}</a>
                </nav>
            </li>
        </ul>
    </div>

    <div class="padding">
        <p align="justify">
        {{speaker.bio}}
        </p>
    </div>
</div>
