<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Agenda" icon-off="ion-ios-circle-outline" icon-on="ion-ios-circle-outline" ui-sref="tab.agenda">
    <ion-nav-view name="tab-agenda"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Lectures" icon-off="ion-ios-circle-outline" icon-on="ion-ios-circle-outline" ui-sref="tab.lectures" on-deselect="clearHistory()">
    <ion-nav-view name="tab-lectures"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Speakers" icon-off="ion-ios-circle-outline" icon-on="ion-ios-circle-outline" ui-sref="tab.speakers" on-deselect="clearHistory()">
    <ion-nav-view name="tab-speakers"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Floor Plan" icon-off="ion-ios-circle-outline" icon-on="ion-ios-circle-outline" ui-sref="tab.floorplan">
    <ion-nav-view name="tab-floorplan"></ion-nav-view>
  </ion-tab>

</ion-tabs>
